@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/inter.woff2");
}

@font-face {
    font-family: 'ARM2';
    src: url('../assets/fonts/ARM.ttf') format('truetype');
}


body{
    font-size: 12px;
    font-family: "Inter";
    line-height: 1.1;    
}
