.white-theme{
    --background-color: gray;
    --seg-background-color: #E200FF;
    --seg-background-color: black;
    --main-color: black;
    --border-color: black;
}

.black-theme{
    --background-color: black;
    --seg-background-color: #E200FF;
    --seg-background-color: red;
    --main-color: white;
    --border-color: white;
}